<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grid Template</title>
        <style>
            img {
                width: 100px;
                height: auto;
                margin-right: -4px;
                margin-top: -6px;
            }
            div {
                padding-top: 30px;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
        <div>
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
            <img src="../images/grid.svg" />
        </div>
    </body>
</html>
